@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Project>

<div class="text-center">
    <img src="~/img/layton_temple.jpg" />

    <p>Welcome to the Layton, Utah Temple Tours signup page. Tours are run Monday through Sunday, 8am to 8pm.</p>
    <br />
    <b>General Tour Instructions</b>
    <br />
    <ul>
        <li>Masks are required.</li>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer</li>
        <li>Dress casual, except on Sunday</li>
    </ul>
    <br />
    <p><b>Location:</b><br /> Layton Utah Temple <br />1500 E Oak Hills Drive, Layton, UT 84040</p>

    <a class="btn btn-success" asp-action="SignUp">Sign Up Here</a>
</div>